@import 'colors.scss';
@import 'base.scss';
@import 'buttons.scss';
@import 'global-nav.scss';
@import 'util.scss';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,600,700');

.container_full {
  padding: 0 40px;
  @media (max-width: 550px) {
    padding: 0 20px;
  }
}

/*
 Form
---------------------------------------------*/

input[type=text] {
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #277f83;
  width: 80%;
  margin: 0;
  background: transparent;

  &:focus {
    border: none;
    border-bottom: 2px solid #DCEDC8;
  }
}

label {
  font-weight: 300;
  color: #2a3e3f;
}


/*
 Sections
---------------------------------------------*/

section.hero {
    color: #fff;
    background: $green;
    background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, linear-gradient(to right, $green, #80cbc4);

    @media (max-width: 550px) {
      padding-top: 90px;
      padding-bottom: 80px;
      background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, linear-gradient(to right, $green, #80cbc4);

      .cta { text-align: center; }
    }

    &::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
    }

    .logo {
      img {
        height: 2em;
        margin-bottom: 4em;
      }
    }

    .hero-heading {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 6rem;
      line-height: 6rem;
      margin-bottom: 0;
    }

    .lead {
        font-size: 1.5em;
        line-height: 1.2;
        font-weight: 100;
    }

}

section.page-top h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5;
}

.hireus-form-container {
  position: relative;

  form {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    h5 {
      color: #d2dfdf;
      font-weight: 400;
      border: none;
    }

    input[type=text] {
      outline: none;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #F5F5F5;
      width: 100%;
      margin: 0;
      background: transparent;

      &:focus {
        border-color: $white;
        border-width: 2px;
      }
    }
    label {
      font-weight: 400;
      color: #d2dfdf;
    }

    &.on-white {
      h5 { color: inherit; }
      input[type=text] {
        border-bottom: 1px solid #999;
        &:focus {
          border-color: $black;
          border-width: 2px;
        }
      }
      label {
        color: inherit;
      }
    }
  }
}

.def-list {
    .row {
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 4px;

        .term {
            font-size: 1.3em;
            font-weight: 400;
            color: #277f83;
        }
        .def {
            margin: 0;
        }
    }
    .row:nth-child(odd) {
        background-color:#f5f5f5;
    }
    .row:nth-child(even) {
        background-color:#ffffff;

    }
}

.tag-heading {
    font-weight: 400;
    margin-top: 8px;
}

ul.tag-list {
    list-style: none;
    display: inline;
    margin: 0;

    li {
        display: inline-block;
        padding: 4px 6px;
        background-color: #277f83;
        color: #fff;
        border-radius: 2px;
        font-size: .8em;
    }
}

// .section {
//   position: relative;
//   background-color: #fff;
//   padding: 30px 0px 0px 0px;
//   // overflow: hidden;

//   &.first {
//     padding-top: 90px;
//   }

//   &.services {
//     @include brushed(#a0bbbc);
//     p {
//       font-size: 2em;
//       font-weight: 200;
//       color: #deecec;
//       margin: 2em 0;
//     }
//   }

//   &.whatwedo {
//     @include brushed(#a0bbbc);
//     h2 {
//       color: #fff;
//       text-transform: uppercase;
//       font-weight: 600;
//     }
//     p {
//       font-size: 2em;
//       font-weight: 200;
//       color: #deecec;
//       margin: 2em 0;
//     }
//   }

//   &.aboutpeople {
//     @include brushed(#95b25b);
//     h2 {
//       color: #fff;
//       text-transform: uppercase;
//       font-weight: 600;
//     }
//     p {
//       font-size: 2em;
//       font-weight: 200;
//       color: #b9e562;
//       margin: 2em 0;

//       strong { color: #fff }
//     }
//   }

//   &.hireus {
//     @include brushed(#839fa0);
//     padding: 80px 0;

//     .row {
//       margin: 2em 0;
//     }

//     h3 { color: #fff }
//     p { color: rgba(255,255,255, 0.78); }
//     form[name=hireus] {
//       width: 80%;
//       margin-top: 1em;

//       input[type=text] {
//         display: block;
//         width: 100%;
//         border-color: #fff;
//       }
//       label {
//         font-weight: 200;
//         color: #dad8d8;
//       }
//       button {
//         float: right;
//       }
//     }
//   }
// }


// Default section alignment (mobile first)

// Section alignment - larger than mobile
@media (min-width: 320px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
.team-image {
  width: 30%;
  position: relative;

  img {
    width: 100%;
    display: inline-block;
    transition: all .3s linear;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 5px solid $orange;
    box-sizing: border-box;

    &:hover {
      filter: grayscale(0%);
    }
  }
}
.team-overlay {
    display: inline-block;
    z-index: 18;
    font-size: .9em;
    padding: 4px 8px;
    text-align: center;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    .title {
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      color: #f4825b;
    }
}

// Team Avatars
// .team-image {
//   width: 150px;
//   height: 150px;
//   position: relative;
//   display: inline-block;
//   // overflow: hidden;
//   // border: 1px solid #81cbc2;
//   margin-right: 10px;

//   &:hover {
//     &::after {
//       background: transparent;
//     }
//     img {
//       filter: grayscale(0%);
//     }
//   }

//   &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     // background: rgba(#ae3378, .2);
//     transition: all .3s linear;

//   }

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     display: inline-block;
//     transition: all .3s linear;
//     filter: grayscale(100%);
//     border-radius: 50%;
//     border: 5px solid $orange;
//     box-sizing: border-box;
//   }

//   .team-overlay {
//     width: 100%;
//     height: 30%;
//     background: rgba(68, 68, 68, .8);
//     display: inline-block;
//     z-index: 18;
//     position: absolute;
//     bottom: -20px;
//     left: 0;
//     color: #fff;
//     font-size: .8em;
//     padding: 8px;
//     box-sizing: border-box;

//     .name {
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       font-weight: 500;
//     }
//     .title {
//       font-size: .6em;
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       font-weight: 200;
//       color: #b9e562;
//     }
//   }
// }
