@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,600,700');

// Font-Size
$base-font-size: 1em;

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Fira Sans';
  font-weight: 300;
  color: $black;
  background-color: #444;
}

@media only screen and (min-width : 320px) and (max-width : 560px) {
	body { -webkit-text-size-adjust: none; }
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: normal;
}

h4 {
  font-size: 8rem;
  line-height: 8rem;
  @media (max-width: 550px) {
    font-size: 6rem;
    line-height: 6rem;
  }
}

h3 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  @media (max-width: 550px) {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
}

h5 {
  color: #70c6ac;
  font-weight: 600;
  text-transform: uppercase;
  .heart { color: #FF5722; }
}

.container_full {
  padding: 0 40px;
  @media (max-width: 550px) {
    padding: 0 20px;
  }
}

.footer { 
    h6 {
        color: #ddd;
        margin-bottom: .2em;
    }
}

a, a:visited, a:link {
    text-decoration: none;
    color: $green;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    position: relative;
    padding-left: 24px;
    font-size: .9em;
    
    &::before {
      height: 6px;
      width: 6px;
      background-color: $teal;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      position: absolute;
      top: 8px;
      left: 10px;
    }
  }
}

// Customize buttons from skeleton
.button {
  font-size: 14px;
  
  &.button-primary {
    border-radius: 2px;
    font-size: 1em;
    font-weight: 300;
    background-color: $teal;
    border-color: $teal;
    color: #fff;
    // text-shadow: -1px -1px 0 darken($teal, 10%);

    &:hover {
      background-color: darken($teal, 10%);
      border-color: darken($teal, 10%);   
    }
  }
}

/*
 Sections
---------------------------------------------*/
.section {
  &.info {
      background-color: #fff;
      padding-bottom: 40px;
    .heading {
      text-transform: uppercase;
      font-weight: 700;
      .fa-heart { color: #ff3c41; }
    }
  }
  
  &.hero {
    position: relative;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 100px;
    margin: 0;
    background: $orange;
    background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, 
      linear-gradient(to right, $orange, lighten($orange, 20));
    @media (max-width: 550px) {
      padding-top: 20px;
      padding-bottom: 80px;
      background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -200px / auto 110%, 
      linear-gradient(to right, $orange, lighten($orange, 20));
    }
    &::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
    
    .logo {
      img {
        height: 2em;
      }
    }
    
    .hero-heading {
      text-transform: uppercase;
      font-weight: bold;
      padding: 120px 0 0 0;
      @media (max-width: 1200px) {
        padding: 60px 0 0 0;
      }
    }
  }
  
  &.footer {
    background-color: #444;
    color: #9E9E9E;
    min-height: 150px;
    position: relative;
    padding-top:60px;
    p {
        font-weight: 200 !important;
        font-size: .9em !important;
    }
    address {
        font-size: .9em;
        font-weight: 200;
    }
    .oci-logo {
        height: 1.2em;
        vertical-align: middle;
    }
    .footer-logo {
        height: 2em;
        opacity: .7;
    }
    
    &::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -8px;
      left: 0;
      transform: scaleY(-1);
    }
  }
}


// Default section alignment (mobile first)

// Section alignment - larger than mobile
@media (min-width: 320px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}