@import 'colors.scss';
@import 'base.scss';
@import 'buttons.scss';
@import 'global-nav.scss';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,600,700');

.container_full {
  padding: 0 40px;
  @media (max-width: 550px) {
    padding: 0 20px;
  }
}

.footer { 
    h6 {
        color: #ddd;
        margin-bottom: .2em;
    }
}

/*
 Form
---------------------------------------------*/

input[type=text] {
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #277f83;
  width: 80%;
  margin: 0;
  background: transparent;

  &:focus {
    border: none;
    border-bottom: 2px solid #DCEDC8;
  }
}

label {
  font-weight: 300;
  color: #2a3e3f;
}


/*
 Sections
---------------------------------------------*/

//
// Brush stroked, full width section classes and mixin
//
.brushed-top {
  &::before {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    top: -8px;
    left: 0;
    transform: scaleY(-1) scaleX(-1);
  }
}

.brushed-bottom {
  &::after {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}

@mixin brushed($bgcolor) {
  @extend .brushed-top;
  @extend .brushed-bottom;
  background-color: $bgcolor;
  padding: 50px 0;
}

.section {
  position: relative;
  background-color: #fff;
  padding: 30px 0px 0px 0px;
  // overflow: hidden;

  &.info { }

  &.whatwedo {
    @include brushed(#a0bbbc);
    h2 { 
      color: #fff; 
      text-transform: uppercase;
      font-weight: 600;
    }
    p { 
      font-size: 2em; 
      font-weight: 200;
      color: #deecec;
      margin: 2em 0;
    }
  }

  &.aboutpeople {
    @include brushed(#95b25b);
    h2 { 
      color: #fff; 
      text-transform: uppercase;
      font-weight: 600;
    }
    p { 
      font-size: 2em; 
      font-weight: 200;
      color: #b9e562;
      margin: 2em 0;

      strong { color: #fff }
    }
  }

  &.hireus {
    @include brushed(#839fa0);
    padding: 80px 0;

    .row {
      margin: 2em 0;
    }

    h3 { color: #fff }
    p { color: rgba(255,255,255, 0.78); }
    form[name=hireus] {
      width: 80%;
      margin-top: 1em;

      input[type=text] { 
        display: block;
        width: 100%;
        border-color: #fff;
      }
      label { 
        font-weight: 200;
        color: #dad8d8; 
      }
      button {
        float: right;
      }
    }
  }
  
  &.hero {
    position: relative;
    color: #fff;
    padding-top: 20vh;
    padding-bottom: 100px;
    margin: 0;
    background: $green;
    // background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, 
    //   linear-gradient(to right, $green, lighten($green, 20));
    background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, 
      linear-gradient(to right, $green, #80cbc4);

    // #80cbc4

    @media (max-width: 550px) {
      padding-top: 90px;
      padding-bottom: 80px;
      // background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -200px / auto 110%, 
      // linear-gradient(to right, $green, lighten($green, 20));
      background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, 
        linear-gradient(to right, $green, #80cbc4);

      .cta {
        text-align: center;
      }
    }

    &::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
    
    .logo {
      img {
        height: 2em;
        margin-bottom: 4em;
      }
    }
    
    .hero-heading {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 6rem;
      line-height: 6rem;
      margin-bottom: 0;
    }

    .lead {
        font-size: 1.5em;
        line-height: 1.2;
        font-weight: 100;
    }
  }
  
  &.footer {
    background-color: #444;
    color: #9E9E9E;
    min-height: 150px;
    position: relative;
    padding-top:60px;
    p {
        font-weight: 200 !important;
        font-size: .9em !important;
    }
    address {
        font-size: .9em;
        font-weight: 200;
    }
    .oci-logo {
        height: 1.2em;
        vertical-align: middle;
    }
    .footer-logo {
        height: 2em;
        opacity: .7;
    }
    
    &::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -8px;
      left: 0;
      transform: scaleY(-1);
    }
  }
}


// Default section alignment (mobile first)

// Section alignment - larger than mobile
@media (min-width: 320px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
.team-image {
  width: 30%;
  position: relative;

  img {
    width: 100%;
    display: inline-block;
    transition: all .3s linear;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 5px solid $orange;
    box-sizing: border-box;

    &:hover {
      filter: grayscale(0%);
    }
  }
}
.team-overlay {
    display: inline-block;
    z-index: 18;
    font-size: .9em;
    padding: 4px 8px;
    text-align: center;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    .title {
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      color: #f4825b;
    }
}

// Team Avatars
// .team-image {
//   width: 150px;
//   height: 150px;
//   position: relative;
//   display: inline-block;
//   // overflow: hidden;
//   // border: 1px solid #81cbc2;
//   margin-right: 10px;

//   &:hover {
//     &::after {
//       background: transparent;
//     }
//     img {
//       filter: grayscale(0%);
//     }
//   }

//   &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     // background: rgba(#ae3378, .2);
//     transition: all .3s linear;

//   }

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     display: inline-block;
//     transition: all .3s linear;
//     filter: grayscale(100%);
//     border-radius: 50%;
//     border: 5px solid $orange;
//     box-sizing: border-box;
//   }

//   .team-overlay {
//     width: 100%;
//     height: 30%;
//     background: rgba(68, 68, 68, .8);
//     display: inline-block;
//     z-index: 18;
//     position: absolute;
//     bottom: -20px;
//     left: 0;
//     color: #fff;
//     font-size: .8em;
//     padding: 8px;
//     box-sizing: border-box;

//     .name {
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       font-weight: 500;
//     }
//     .title {
//       font-size: .6em;
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       font-weight: 200;
//       color: #b9e562;
//     }
//   }
// }