@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,600,700");
.text-gradient-orange-blue {
  color: #f05824;
  background: linear-gradient(to right, #f05824, #4654a2 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-orange-blue {
  background-color: #fff;
  background: linear-gradient(to right, rgba(240, 88, 36, 0.15), rgba(70, 84, 162, 0.15) 80%); }

.text-gradient-blue-teal {
  color: #4654a2;
  background: linear-gradient(to right, #4654a2, #70c6ac 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-blue-teal {
  background-color: #fff;
  background: linear-gradient(to right, rgba(70, 84, 162, 0.15), rgba(112, 198, 172, 0.15) 80%); }

.text-gradient-teal-green {
  color: #70c6ac;
  background: linear-gradient(to right, #70c6ac, #9bca3b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-teal-green {
  background-color: #fff;
  background: linear-gradient(to right, rgba(112, 198, 172, 0.15), rgba(155, 202, 59, 0.15) 80%); }

.text-gradient-green-orange {
  color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #f05824 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-green-orange {
  background-color: #fff;
  background: linear-gradient(to right, rgba(155, 202, 59, 0.15), rgba(240, 88, 36, 0.15) 80%); }

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: 'Fira Sans';
  font-weight: 300;
  color: #444444;
  background-color: #444; }

@media only screen and (min-width: 320px) and (max-width: 560px) {
  body {
    -webkit-text-size-adjust: none; } }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal; }

h5 {
  color: #70c6ac;
  font-weight: 500; }
  h5 .heart {
    color: #FF5722; }

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    position: relative;
    padding-left: 24px;
    font-size: .9em; }
    ul li::before {
      height: 6px;
      width: 6px;
      background-color: #70c6ac;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      position: absolute;
      top: 8px;
      left: 10px; }

.button {
  font-size: 14px; }
  .button.button-primary {
    border-radius: 2px;
    font-size: 1em;
    font-weight: 300;
    background-color: #70c6ac;
    border-color: #70c6ac;
    color: #fff; }
    .button.button-primary:hover {
      background-color: #4cb797;
      border-color: #4cb797; }

/*
 Sections
---------------------------------------------*/
.section.info {
  background-color: #fff; }
  .section.info .heading {
    text-transform: uppercase;
    font-weight: 700; }
    .section.info .heading .fa-heart {
      color: #ff3c41; }

.section.hero {
  position: relative;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
  margin: 0;
  background: #f05824;
  background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px/auto 110%, linear-gradient(to right, #f05824, #f7a183); }
  .section.hero::after {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0; }
  .section.hero .logo img {
    height: 2em; }
  .section.hero .hero-heading {
    font-weight: 400; }

.section.footer {
  background-color: #444;
  color: #9E9E9E;
  padding: 45px 15px;
  min-height: 150px;
  position: relative; }
  .section.footer::before {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    top: -8px;
    left: 0;
    transform: scaleY(-1); }

.hero {
  text-align: center; }

@media (min-width: 550px) {
  .hero {
    text-align: left; } }
